.footer{
    align-items: center;
    background: $black-dark;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    position: relative;

    @include mobile-query {
        padding: 0 .5rem;
    }

    .footer__copyright {
        color: $white-darker;
    }

    .footer__links > a > i {
        color: $white-darker;
        cursor: pointer;
        font-size: 2.5rem;
        margin: 1rem;
        transition: color .1s linear;

        @include mobile-query {
            margin: 5px;
        }

        &:hover {
            color: $yellow-light;
        }
    }

    .footer__contact {
        color: $white-darker;
        font-size: .8rem;

        & > span {
            color: $yellow;
        }
    }
}
