.hamburger {
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 100;

    &.active {
        & > div {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    & > div {
        $space: 10px;
        $height: 3px;
        $width: 30px;

        background: $yellow-light;
        border-radius: 25px;
        width: $width;
        height: $height;
        position: absolute;
        top: 50%;
        transition: background .1s linear;

        &::before {
            top: -$space;
        }

        &::after {
            top: $space;
        }

        &::before,
        &::after {
            background: $yellow-light;
            border-radius: 25px;
            content: '';
            height: $height;
            position: absolute;
            transition: all .2s linear;
            width: $width;
        }
    }
}
