.nav {
    align-items: center;
    display: flex;
    font-size: $nav-bar-font-size;
    height: 100px;
    margin-top: -100px;
    position: sticky;
    top: 0;
    transition: background-color .1s linear, height .1s linear;
    width: 100%;
    z-index: 10;

    @include mobile-query {
        transition: background-color .1s linear;

        &.nav--show-for-mobile {
            height: 100% !important;
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            z-index: 150;
        }
    }

    &.nav--with-background {
        background: rgba($black-dark, 0.95);
        box-shadow: 0 5px 5px rgba(black, 0.5);
        height: 70px;
    }

    .nav__item {
        cursor: pointer !important;
        display: inline-block;
        margin: 0 15px 0 15px;

        @include mobile-query {
            display: none;
        }

        &:first-of-type {
            padding-left: 20px;
        }

        .nav__link {
            color: $white-dark;
            cursor: pointer;
        }

        .nav__underscore {
            @include center(10px auto auto auto);

            background: $yellow-light;
            border-radius: 25px;
            height: 5px;
            width: 50%;
            transition: width .1s linear;
        }

        &.nav__item--active {
            &:hover .nav__underscore {
                width: 100%;
            }

            .nav__link {
                color: $white;
            }

             .nav__underscore {
                background: $purple;
                width: 90%;
            }
        }

        &:hover {
            .nav__link {
                color: white;
            }

            .nav__underscore{
                width: 100%;
            }
        }
    }

    .nav-mobile-current-route {
        color: $white;
        font-size: $nav-bar-font-size;
        left: 20px;
        position: absolute;
        top: 20px;
        visibility: hidden;

        @include mobile-query {
            visibility: visible;
        }
    }

    .hamburger {
        visibility: hidden;
        position: absolute;
        right: 20px;
        top: 20px;

        @include mobile-query {
            visibility: visible;
        }
    }

    .nav-mobile {
        align-items: center;
        background: $black-dark;
        display: flex;
        font-size: 4rem;
        flex-direction: column;
        height: 100%;
        list-style: none;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        position: absolute;
        visibility: hidden;
        width: 100%;
        z-index: -50;

        @include mobile-query {
            &.nav-mobile--show {
                visibility: visible;
            }
        }

        .mobile-item__triangle {
            $size: 20px;

            width: 0;
            height: 0;
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;

            border-left: $size solid $yellow-light;
            position: absolute;
            margin-top: 15px;
            left: 0;
        }
    }
}
