.project {
    background: #444;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 125px;
    padding: .75rem 1rem;
    margin: 1rem;
    transition: all 50ms linear;
    width: 350px;

    &:hover {
        box-shadow: 2px 2px 10px rgba(black, 0.25);
        transform: scale(1.05);
    }

    .project__name {
        font-size: 1.5rem;
        height: fit-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .project__description {
        flex-grow: 1;
        font-size: .75rem;

        @include mobile-query {
            font-size: 1rem;
        }
    }
}
