.progress-bar {
    $height: 30px;

    align-items: center;
    display: flex;
    margin: 5px;
    width: 100%;

    .progress-bar__icon {
        background: tint($black, 10%);
        display: inline-block;
        font-size: $height;
        height: $height * 1.75;
        margin-right: 10px;
        position: relative;
        text-align: center;
        width: $height * 1.75;

        & > i {
            height: 100%;
            line-height: $height * 1.75;
            transition: opacity .3s linear;
            width: 100%;
        }

        & > span {
            @include center;

            cursor: default;
            font-size: 0.7rem;
            line-height: $height * 1.75;
            opacity: 0;
            position: absolute;
            transition: opacity .3s linear;
            width: fit-content;
        }

        &:hover {
            background: transparent;

            & > i {
                opacity: 0;
            }

            & > span {
                opacity: 1;
            }
        }
    }

    .progress-bar__bar {
        background: tint($black, 15%);
        display: inline-block;
        height: $height;
        flex-grow: 1;
        line-height: $height;
        position: relative;


        .progress-bar__filler {
            background: $yellow-light;
            height: $height;

            @for $i from 1 through 10 {
                $i: $i * 10;

                &.progress-bar__percentage-#{$i} {
                    width: (100% / 100) * $i;
                }
            }
        }

        .progress-bar__percentage-label {
            font-size: 0.8rem;
            padding-right: 5px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
