.to-top-button-container {
    $size: 50px;

    background: $yellow;
    border-radius: 50px;
    //bottom: 25px;
    box-shadow: 2px 2px 5px rgba(black, 0.5);
    cursor: pointer;
    font-size: 2rem;
    height: $size;
    line-height: $size;
    //position: absolute;
    text-align: center;
    //right: 25px;
    width: $size;
    z-index: 100;

    position: sticky;
    position: -webkit-sticky;
    bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;

    &:hover {
        background: $yellow-light;
        box-shadow: none;
    }

    & > a {
        cursor: pointer;
    }
}
