@include mobile-query {
    :root {
        font-size: 12px;
    }
}

//::-webkit-scrollbar {
//    background: $black-light;
//    height: 15px;
//    width: 20px;
//}
//
//::-webkit-scrollbar-thumb {
//    background: $yellow-light;
//    border-radius: 15px;
//    border: 5px solid $black-light;
//}
//
//::-webkit-scrollbar-thumb:hover{
//    background: $yellow;
//}

* {
    color: white;
    font-family: 'Varela Round', sans-serif;

    &:focus {
        outline: none;
    }
}

a {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

a.inline {
    color: $yellow;
    cursor: pointer;
    text-decoration: underline;
}

strong {
    color: $yellow;
}

.button {
    border: none;
    background: $yellow;
    cursor: pointer;
    font-size: $input-font-size;
    height: 50px;
    width: 200px;

    @include mobile-query {
        font-size: 1.5rem;
    }

    &:hover {
        background: shade($yellow, 10%);
    }

    &:focus {
        outline: none;
    }

    .button__link {
        cursor: pointer;
    }
}

.form {
    .form__input {
        //background: #464665;
        background: $black-lighter;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 0;
        box-sizing: border-box;
        font-size: $input-font-size;
        height: 50px;
        padding-left: 10px;
        margin: .25rem 0;
        transition: all .2s ease-out;
        width: 100%;

        &::after {

        }

        &:hover {
            box-shadow: 1px 1px 3px rgba(black, 0.5);
            transform: scale(1.02);
        }

        &:focus {
            border-bottom: 3px solid $yellow;
            box-shadow: 2px 2px 5px rgba(black, 0.5);
            transform: scale(1.05);
        }
    }

    .form__textarea {
        @extend .form__input;

        height: 200px;
        padding-top: 10px !important;
        resize: none;
    }

    .form__submit {
        @extend .button;

        border-radius: 0;
        -webkit-appearance: none;

        &.form__submit--float-right {
            float: right;
        }
    }
}

.full {
    height: inherit;
    margin: 0;
    min-height: calc(100% - 70px);
    overflow: auto;
    width: 100%;
}

.code-background-image {
    background: linear-gradient(rgba(black, 0.75), rgba(black, 0.75)), url(../images/background.jpg) no-repeat;
    background-size: cover;
}

.black-background {
    background: $black-light;
}

.container {
    border-bottom: 1px solid #555;
}

.page-title {
    @include center;

    font-size: $page-title-font-size;
    font-weight: normal;
    text-align: center;
    margin-top: 100px;
    width: fit-content;

    &.page-title--sub-title {
        font-size: $page-sub-title-font-size;

        & > div {
            background: $purple;
        }
    }

    &.page-title--no-top-margin {
        margin: 20px 0 !important;
    }

    & > div {
        @include center(10px auto auto auto);

        background: $yellow-light;
        border-radius: 25px;
        height: 5px;
        width: 50%;
    }
}

.jumbotron {
    font-size: $jumbotron-font-size;
    text-align: center;
    margin: 10px 5px;
}

.section-title {
    @extend .page-title;

    font-size: $content-title-font-size;
    margin-top: 0 !important;
    margin-bottom: 20px;

    & > div {
        background: $purple;
    }
}

.sub-title {
    color: $yellow;
    font-size: $sub-title-font-size;
}
