$white: white;
$white-dark: #E1E1E1;
$white-darker: #B4B4B4;

$black-lighter: #464646;
$black-light: #323232;
$black: #282828;
$black-dark: #1E1E1E;

$green: #16D36B;

$yellow-dark: #938200;
$yellow: #CDBA00;
$yellow-light: #E5D200;

$purple: #A32CFF;

$red: #D9534F;
$red-dark: #C9302C;


$nav-bar-font-size: 1.7rem;
$jumbotron-font-size: 5rem;
$page-title-font-size: 2.5rem;
$page-sub-title-font-size: 1.75rem;
$content-title-font-size: 1.5rem;
$sub-title-font-size: 1.3rem;
$input-font-size: 1.2rem;
