#about-page {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    padding-top: 70px;

    .about-section {
        background: $black-dark;
        box-shadow: 0 0 10px $black-dark;
        box-sizing: border-box;
        height: calc(100% - 125px);
        margin: .5rem;
        min-height: 600px;
        min-width: 300px;
        max-width: 550px;
        padding: 1rem;
        width: 32%;

        .editor {
            align-items: center;
            background: tint($black, 10%);
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(black, 0.5);
            display: inline-flex;
            height: 125px;
            justify-content: center;
            margin: 5px;
            position: relative;
            width: 125px;

            .editor__logo {
                height: 80px;
                width: 80px;
                opacity: 1;
                transition: opacity .2s linear;
            }

            .editor__name {
                cursor: default;
                opacity: 0;
                position: absolute;
                text-align: center;
                transition: opacity .2s linear, top .2s linear;
                top: 20%;
            }

            &:hover {
                .editor__logo {
                    opacity: 0;
                }

                .editor__name {
                    opacity: 1;
                    top: calc(50% - 10px);

                    &.editor__name--two-lines {
                        top: calc(50% - 17px);
                    }
                }
            }
        }

        &#about-me {
            display: flex;
            flex-direction: column;
            font-size: .9rem;

            @include mobile-query {
                font-size: 1.1rem;
            }

            #cv-button {
                align-self: center;
            }
        }

        &#what-i-know {
            display: flex;
            flex-direction: column;

            #skills {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: space-between;
            }
        }

        &#what-i-use {
            display: flex;
            flex-direction: column;

            #editors {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include mobile-query {
                    justify-content: space-around;
                }
            }
        }
    }
}
