#contact-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;

    #contact-title {
        padding-top: 1rem;
    }

    #contact-page-inner {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 20px 0;

        .form {
            min-width: 300px;
            width: 50%;
        }
    }
}
