#home-page {
    align-items: center;
    background: linear-gradient(rgba(black, 0.75), rgba(black, 0.75)), url(../images/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    #home-page-inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
