#projects-page {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;

    #projects-page-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
    }

    #view-more {
        @include center(1rem auto);
    }
}
