#about-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    padding-top: 70px;
    position: relative;

    .about-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        max-width: 1000px;
        width: calc(100% - 20px);

        &:last-child {
            margin-bottom: 50px;
        }
    }

    .skills {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0;
        width: 100%;

        .skill {
            $hex-color: $yellow;

            align-items: center;
            background-color: $hex-color;
            cursor: default;
            display: flex;
            height: 57.74px;
            justify-content: center;
            margin: 33.87px 5px;
            position: relative;
            width: 100px;

            &:hover {
                .skill__icon {
                    display: none;
                }

                .skill__text {
                    margin: 0;
                    opacity: 1;
                }
            }

            &.skill--purple {
                background-color: $purple;

                &::before {
                    border-bottom-color: $purple;
                }

                &::after {
                    border-top-color: $purple;
                }
            }

            .skill__icon {
                font-size: 50px;
                position: absolute;

                &.skill__icon--image {
                    height: 50px;
                    width: 50px;
                }
            }

            .skill__text {
                font-size: 16px;
                margin-top: -30px;
                opacity: 0;
                text-align: center;
                transition: margin .1s linear;
            }

            &::before, &::after {
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                content: "";
                position: absolute;
                width: 0;
            }

            &::before {
                bottom: 100%;
                border-bottom: 28.87px solid $hex-color;
            }

            &::after {
                border-top: 28.87px solid $hex-color;
                top: 100%;
                width: 0;
            }
        }
    }
}
