@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@media only screen and (max-width: 700px) {
  :root {
    font-size: 12px; } }
* {
  color: white;
  font-family: 'Varela Round', sans-serif; }
  *:focus {
    outline: none; }

a {
  color: inherit;
  cursor: default;
  text-decoration: none; }

a.inline {
  color: #CDBA00;
  cursor: pointer;
  text-decoration: underline; }

strong {
  color: #CDBA00; }

.button, .form .form__submit {
  border: none;
  background: #CDBA00;
  cursor: pointer;
  font-size: 1.2rem;
  height: 50px;
  width: 200px; }
  @media only screen and (max-width: 700px) {
    .button, .form .form__submit {
      font-size: 1.5rem; } }
  .button:hover, .form .form__submit:hover {
    background: #b9a700; }
  .button:focus, .form .form__submit:focus {
    outline: none; }
  .button .button__link, .form .form__submit .button__link {
    cursor: pointer; }

.form .form__input, .form .form__textarea {
  background: #464646;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  height: 50px;
  padding-left: 10px;
  margin: .25rem 0;
  transition: all .2s ease-out;
  width: 100%; }
  .form .form__input:hover, .form .form__textarea:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.02); }
  .form .form__input:focus, .form .form__textarea:focus {
    border-bottom: 3px solid #CDBA00;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); }
.form .form__textarea {
  height: 200px;
  padding-top: 10px !important;
  resize: none; }
.form .form__submit {
  border-radius: 0;
  -webkit-appearance: none; }
  .form .form__submit.form__submit--float-right {
    float: right; }

.full {
  height: inherit;
  margin: 0;
  min-height: calc(100% - 70px);
  overflow: auto;
  width: 100%; }

.code-background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg) no-repeat;
  background-size: cover; }

.black-background {
  background: #323232; }

.container {
  border-bottom: 1px solid #555; }

.page-title, .section-title {
  left: 0;
  margin: auto;
  right: 0;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
  width: fit-content; }
  .page-title.page-title--sub-title, .page-title--sub-title.section-title {
    font-size: 1.75rem; }
    .page-title.page-title--sub-title > div, .page-title--sub-title.section-title > div {
      background: #A32CFF; }
  .page-title.page-title--no-top-margin, .page-title--no-top-margin.section-title {
    margin: 20px 0 !important; }
  .page-title > div, .section-title > div {
    left: 0;
    margin: 10px auto auto auto;
    right: 0;
    background: #E5D200;
    border-radius: 25px;
    height: 5px;
    width: 50%; }

.jumbotron {
  font-size: 5rem;
  text-align: center;
  margin: 10px 5px; }

.section-title {
  font-size: 1.5rem;
  margin-top: 0 !important;
  margin-bottom: 20px; }
  .section-title > div {
    background: #A32CFF; }

.sub-title {
  color: #CDBA00;
  font-size: 1.3rem; }

.hamburger {
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 100; }
  .hamburger.active > div {
    background: transparent; }
    .hamburger.active > div::before {
      top: 0;
      transform: rotate(45deg); }
    .hamburger.active > div::after {
      top: 0;
      transform: rotate(-45deg); }
  .hamburger > div {
    background: #E5D200;
    border-radius: 25px;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    transition: background .1s linear; }
    .hamburger > div::before {
      top: -10px; }
    .hamburger > div::after {
      top: 10px; }
    .hamburger > div::before, .hamburger > div::after {
      background: #E5D200;
      border-radius: 25px;
      content: '';
      height: 3px;
      position: absolute;
      transition: all .2s linear;
      width: 30px; }

.nav {
  align-items: center;
  display: flex;
  font-size: 1.7rem;
  height: 100px;
  margin-top: -100px;
  position: sticky;
  top: 0;
  transition: background-color .1s linear, height .1s linear;
  width: 100%;
  z-index: 10; }
  @media only screen and (max-width: 700px) {
    .nav {
      transition: background-color .1s linear; }
      .nav.nav--show-for-mobile {
        height: 100% !important;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 150; } }
  .nav.nav--with-background {
    background: rgba(30, 30, 30, 0.95);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    height: 70px; }
  .nav .nav__item {
    cursor: pointer !important;
    display: inline-block;
    margin: 0 15px 0 15px; }
    @media only screen and (max-width: 700px) {
      .nav .nav__item {
        display: none; } }
    .nav .nav__item:first-of-type {
      padding-left: 20px; }
    .nav .nav__item .nav__link {
      color: #E1E1E1;
      cursor: pointer; }
    .nav .nav__item .nav__underscore {
      left: 0;
      margin: 10px auto auto auto;
      right: 0;
      background: #E5D200;
      border-radius: 25px;
      height: 5px;
      width: 50%;
      transition: width .1s linear; }
    .nav .nav__item.nav__item--active:hover .nav__underscore {
      width: 100%; }
    .nav .nav__item.nav__item--active .nav__link {
      color: white; }
    .nav .nav__item.nav__item--active .nav__underscore {
      background: #A32CFF;
      width: 90%; }
    .nav .nav__item:hover .nav__link {
      color: white; }
    .nav .nav__item:hover .nav__underscore {
      width: 100%; }
  .nav .nav-mobile-current-route {
    color: white;
    font-size: 1.7rem;
    left: 20px;
    position: absolute;
    top: 20px;
    visibility: hidden; }
    @media only screen and (max-width: 700px) {
      .nav .nav-mobile-current-route {
        visibility: visible; } }
  .nav .hamburger {
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 20px; }
    @media only screen and (max-width: 700px) {
      .nav .hamburger {
        visibility: visible; } }
  .nav .nav-mobile {
    align-items: center;
    background: #1E1E1E;
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    height: 100%;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: -50; }
    @media only screen and (max-width: 700px) {
      .nav .nav-mobile.nav-mobile--show {
        visibility: visible; } }
    .nav .nav-mobile .mobile-item__triangle {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #E5D200;
      position: absolute;
      margin-top: 15px;
      left: 0; }

.project {
  background: #444;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 125px;
  padding: .75rem 1rem;
  margin: 1rem;
  transition: all 50ms linear;
  width: 350px; }
  .project:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.05); }
  .project .project__name {
    font-size: 1.5rem;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .project .project__description {
    flex-grow: 1;
    font-size: .75rem; }
    @media only screen and (max-width: 700px) {
      .project .project__description {
        font-size: 1rem; } }

.progress-bar {
  align-items: center;
  display: flex;
  margin: 5px;
  width: 100%; }
  .progress-bar .progress-bar__icon {
    background: #3e3e3e;
    display: inline-block;
    font-size: 30px;
    height: 52.5px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 52.5px; }
    .progress-bar .progress-bar__icon > i {
      height: 100%;
      line-height: 52.5px;
      transition: opacity .3s linear;
      width: 100%; }
    .progress-bar .progress-bar__icon > span {
      left: 0;
      margin: auto;
      right: 0;
      cursor: default;
      font-size: 0.7rem;
      line-height: 52.5px;
      opacity: 0;
      position: absolute;
      transition: opacity .3s linear;
      width: fit-content; }
    .progress-bar .progress-bar__icon:hover {
      background: transparent; }
      .progress-bar .progress-bar__icon:hover > i {
        opacity: 0; }
      .progress-bar .progress-bar__icon:hover > span {
        opacity: 1; }
  .progress-bar .progress-bar__bar {
    background: #484848;
    display: inline-block;
    height: 30px;
    flex-grow: 1;
    line-height: 30px;
    position: relative; }
    .progress-bar .progress-bar__bar .progress-bar__filler {
      background: #E5D200;
      height: 30px; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-10 {
        width: 10%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-20 {
        width: 20%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-30 {
        width: 30%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-40 {
        width: 40%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-50 {
        width: 50%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-60 {
        width: 60%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-70 {
        width: 70%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-80 {
        width: 80%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-90 {
        width: 90%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-100 {
        width: 100%; }
    .progress-bar .progress-bar__bar .progress-bar__percentage-label {
      font-size: 0.8rem;
      padding-right: 5px;
      position: absolute;
      top: 0;
      right: 0; }

.progress-bar {
  align-items: center;
  display: flex;
  margin: 5px;
  width: 100%; }
  .progress-bar .progress-bar__icon {
    background: #3e3e3e;
    display: inline-block;
    font-size: 30px;
    height: 52.5px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 52.5px; }
    .progress-bar .progress-bar__icon > i {
      height: 100%;
      line-height: 52.5px;
      transition: opacity .3s linear;
      width: 100%; }
    .progress-bar .progress-bar__icon > span {
      left: 0;
      margin: auto;
      right: 0;
      cursor: default;
      font-size: 0.7rem;
      line-height: 52.5px;
      opacity: 0;
      position: absolute;
      transition: opacity .3s linear;
      width: fit-content; }
    .progress-bar .progress-bar__icon:hover {
      background: transparent; }
      .progress-bar .progress-bar__icon:hover > i {
        opacity: 0; }
      .progress-bar .progress-bar__icon:hover > span {
        opacity: 1; }
  .progress-bar .progress-bar__bar {
    background: #484848;
    display: inline-block;
    height: 30px;
    flex-grow: 1;
    line-height: 30px;
    position: relative; }
    .progress-bar .progress-bar__bar .progress-bar__filler {
      background: #E5D200;
      height: 30px; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-10 {
        width: 10%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-20 {
        width: 20%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-30 {
        width: 30%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-40 {
        width: 40%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-50 {
        width: 50%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-60 {
        width: 60%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-70 {
        width: 70%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-80 {
        width: 80%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-90 {
        width: 90%; }
      .progress-bar .progress-bar__bar .progress-bar__filler.progress-bar__percentage-100 {
        width: 100%; }
    .progress-bar .progress-bar__bar .progress-bar__percentage-label {
      font-size: 0.8rem;
      padding-right: 5px;
      position: absolute;
      top: 0;
      right: 0; }

.to-top-button-container {
  background: #CDBA00;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  bottom: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: right; }
  .to-top-button-container:hover {
    background: #E5D200;
    box-shadow: none; }
  .to-top-button-container > a {
    cursor: pointer; }

.footer {
  align-items: center;
  background: #1E1E1E;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 700px) {
    .footer {
      padding: 0 .5rem; } }
  .footer .footer__copyright {
    color: #B4B4B4; }
  .footer .footer__links > a > i {
    color: #B4B4B4;
    cursor: pointer;
    font-size: 2.5rem;
    margin: 1rem;
    transition: color .1s linear; }
    @media only screen and (max-width: 700px) {
      .footer .footer__links > a > i {
        margin: 5px; } }
    .footer .footer__links > a > i:hover {
      color: #E5D200; }
  .footer .footer__contact {
    color: #B4B4B4;
    font-size: .8rem; }
    .footer .footer__contact > span {
      color: #CDBA00; }

#home-page {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #home-page #home-page-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

#about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  padding-top: 70px;
  position: relative; }
  #about-page .about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    max-width: 1000px;
    width: calc(100% - 20px); }
    #about-page .about-section:last-child {
      margin-bottom: 50px; }
  #about-page .skills {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%; }
    #about-page .skills .skill {
      align-items: center;
      background-color: #CDBA00;
      cursor: default;
      display: flex;
      height: 57.74px;
      justify-content: center;
      margin: 33.87px 5px;
      position: relative;
      width: 100px; }
      #about-page .skills .skill:hover .skill__icon {
        display: none; }
      #about-page .skills .skill:hover .skill__text {
        margin: 0;
        opacity: 1; }
      #about-page .skills .skill.skill--purple {
        background-color: #A32CFF; }
        #about-page .skills .skill.skill--purple::before {
          border-bottom-color: #A32CFF; }
        #about-page .skills .skill.skill--purple::after {
          border-top-color: #A32CFF; }
      #about-page .skills .skill .skill__icon {
        font-size: 50px;
        position: absolute; }
        #about-page .skills .skill .skill__icon.skill__icon--image {
          height: 50px;
          width: 50px; }
      #about-page .skills .skill .skill__text {
        font-size: 16px;
        margin-top: -30px;
        opacity: 0;
        text-align: center;
        transition: margin .1s linear; }
      #about-page .skills .skill::before, #about-page .skills .skill::after {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        content: "";
        position: absolute;
        width: 0; }
      #about-page .skills .skill::before {
        bottom: 100%;
        border-bottom: 28.87px solid #CDBA00; }
      #about-page .skills .skill::after {
        border-top: 28.87px solid #CDBA00;
        top: 100%;
        width: 0; }

#projects-page {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  #projects-page #projects-page-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    width: 100%; }
  #projects-page #view-more {
    left: 0;
    margin: 1rem auto;
    right: 0; }

#contact-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content; }
  #contact-page #contact-title {
    padding-top: 1rem; }
  #contact-page #contact-page-inner {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 20px 0; }
    #contact-page #contact-page-inner .form {
      min-width: 300px;
      width: 50%; }

/*# sourceMappingURL=styles.css.map */
